.page-title {
  text-align: center;
  margin-bottom: 2rem;
}

.option {
  border-bottom: 2px solid $secondary-color;
}
.options {
  margin-left: 2rem;

  max-width: 48rem;
  margin: 0 auto;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}
