.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  @include flexbox-display;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: black;
  color: $neon-green;
  max-width: 30 rem;
  outline: none;
  padding: $xl-size;
  text-align: center;
  button {
    background-color: $secondary-color;
    color: white;
    margin: $m-size;
    cursor: pointer;
  }
}
