.formboxcolumn {
  padding: 0.5rem 0;
  @include flexbox-display;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

  input {
    padding: 0.8rem;
    margin-top: 2rem;
    border: 1px solid $secondary-color;
    border-radius: 0.5rem;
    background-color: lighten($secondary-color, 30%);
  }
  button {
    margin: 3rem 0;
    padding: 1.5rem 0;
    background-color: $secondary-color;
    border: none;
    color: white;
    cursor: pointer;
  }
}
.formboxrow {
  padding: 0.5rem 0;
  @include flexbox-display;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  input {
    margin: 1rem;
    caret-color: red;
  }
}

fieldset {
  border-color: white;
  margin-bottom: $l-size;
  padding: 3rem;
}

legend {
  background-color: $secondary-color;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 80%;
}

label {
  margin: 1.2rem 0;
  color: #66fcf1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
}

.picker-label {
  font-size: $l-size;
}

.clear-options {
  cursor: pointer;
  color: lighten(#3a5683, 10%);
}
