html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.6;
}
body {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  color: white;
}

p {
  font-size: $l-size;
  margin: 1rem;
}

a {
  margin: 1rem;
  text-decoration: none;
  color: white;
}

button {
  padding: 1rem;
}
