//Colors
$primary-color: #000;
$secondary-color: #393c49;
$neon-green: #66fcf1;
$off-white: #a5afd7;
$error-text: #7d4e57;

//Sizing
$m-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

.dark-background {
  background-color: $secondary-color;
}

.error {
  background-color: white;
  color: $error-text;
  padding: 1rem;
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}
